$tamanoLetra: 14px;

%underline-decorator {
    text-decoration: underline;
}

%none-decorator {
    text-decoration: none;
}

@mixin marginPanding($size) {
    @if $size <=0 {
        margin: 0;
        padding: 0;
    }

    @else {
        margin: $size;
        padding: $size;
    }
}

@mixin color($color) {
    color: $color;
}

%font-weight {
    font-weight: normal;
}

p {
    /*mixins*/
    @include color(#252525);
    line-height: 24px;
    /*mixins*/
    @include marginPanding(0px);

    a {
        /*mixins*/
        @include color(#252525);
        /*extends*/
        @extend %underline-decorator;

        &:hover {
            /*mixins*/
            @include color(#898989);
        }
    }
}